@model AcademyPlatform.Web.Models.Courses.JoinCourseViewModel
@{
    Layout = "~/Views/Site.cshtml";
}
<div class="container">
    <h2>Записване за курс - </h2>
    @using (Html.BeginForm())
    {
        if (Model.RequiresBillingInfo)
        {
            @Html.EditorFor(x => x.BillingInfo)
        }
        <div class="form-group">
            @Html.Raw(Model.LicenseTerms)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcceptLicenseTerms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcceptLicenseTerms)
                @Html.ValidationMessageFor(model => model.AcceptLicenseTerms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-group btn-danger btn-animated">Запиши се <i class="fa fa-check"></i></button>
            </div>
        </div>
    }
</div>