@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var loginPage = Umbraco.TypedContentAtRoot().DescendantsOrSelf("Login").FirstOrDefault();
}
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <a href="@Url.RouteUrl("Profile")" title="Профил" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" style="margin-right: 10px"></i>@User.Identity.Name</a>
    <ul class="dropdown-menu">
        <li><a href="@Url.RouteUrl("Profile")" title="Профил">Моят профил</a></li>
        <li><a href="@Url.RouteUrl("LogOut")">Изход <i class="fa fa-lock"></i> </a></li>
    </ul>
}
else
{
    <a href="@loginPage.Url" title="Вход" class="dropdown-toggle disabled" data-toggle="dropdown"><i class="fa fa-user" style="margin-right: 10px"></i> Вход</a>
    <ul class="dropdown-menu">
        <li><a href="@loginPage.Url" title="Вход">Вход</a></li>
        <li><a href="@Url.RouteUrl("Register")" title="Регистрация">Регистрация</a></li>
    </ul>
}
