@model AcademyPlatform.Web.Models.Account.UpdateProfileViewModel

@using(Ajax.BeginForm("PostUpdateProfile",null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "update-profile-loader",
    UpdateTargetId = "update-profile-placeholder",
    OnBegin = "$('#update-profile-button').hide()",
},new  {id = "update-profile-form" }))
{

@Html.AntiForgeryToken()
<div>
    @Html.ValidationSummary(true)
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                <span>*</span>
            </div>
            <div class="col-md-9">
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label" })
                <span>*</span>
            </div>
            <div class="col-md-9">
                @Html.ValidationMessageFor(m => m.MiddleName)
                @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                <span>*</span>
            </div>
            <div class="col-md-9">
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Company, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.ValidationMessageFor(m => m.Company)
                @Html.EditorFor(m => m.Company, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.ValidationMessageFor(m => m.Phone)
                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                <div id="update-profile-loader" style="display: none" class="margin-vertical-10">
                    Запазване на промените ...
                </div>
                <button id="update-profile-button" class="btn btn-default">Обнови профила</button>
                @Ajax.ActionLink("Обратно", "ProfileInfo", new { id = "update-profile-button" }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               LoadingElementId = "update-profile-loader",
               UpdateTargetId = "update-profile-placeholder",
               OnBegin = "$('#update-profile-button').hide()",
               OnSuccess = "console.log('cussess');"
           })
            </div>
        </div>
    </div>
</div>
    }
@*<script type="text/javascript">
        $("#update-profile-placeholder").hide();
    </script>*@
<script type="text/javascript">
    initalizeUnobtrusiveValidation("#update-profile-form");
</script>
