@using AcademyPlatform.Models.Assessments
@using AcademyPlatform.Models.Courses
@using AcademyPlatform.Web.Models.Account
@model ProfileViewModel
@{
    Layout = "~/Views/Site.cshtml";

}
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="container">
                <ul class="nav nav-tabs style-1 space-top">
                    <li class="active"><a href="#htab1" data-toggle="tab"><i class="fa fa-user pr-10"></i>Обща информация</a></li>
                    <li><a href="#change-password" data-toggle="tab"><i class="fa fa-lock pr-10"></i>Смяна на парлола</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="htab1" class="tab-pane fade in active">
                        <h3>Обща информация</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><strong>Име: </strong>@Model.FirstName</li>
                                    <li><strong>Презиме: </strong>@Model.MiddleName</li>
                                    <li><strong>Фамилия: </strong>@Model.LastName</li>
                                    <li><strong>Имейл адрес: </strong><a href="mailto:@Model.Username" target="_blank">@Model.Username</a></li>
                                    <li><strong>Име на организация: </strong>@Model.Company</li>
                                </ul>
                                @*<a href="#" class="btn btn-animated btn-warning">Промени информацията <i class="fa fa-cog"></i></a>*@
                            </div>
                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Име</label>
                                        <div class="col-sm-10"><input type="email" class="form-control" id="inputEmail3" placeholder="Email" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Презиме</label>
                                        <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword1" placeholder="Testing" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Фамиля</label>
                                        <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword2" placeholder="Testing" /></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10"><button class="btn btn-default">Направи промените</button></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div id="change-password" class="tab-pane fade">
                        <h3>Смяна на паролата</h3>
                        <section id="change-password-placeholder">
                            @{
                                Html.RenderPartial("~/Views/Profile/_ProfilePartial.cshtml", new ChangePasswordViewModel());
                            }
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="text-center">Моите обучения</h2>
                <div class="table-responsive">
                    @if (Model.ProgressViewModels.Any())
                    {
                        <table class="table table-bordered table-colored">
                            <thead>
                            <tr>
                                <th>Обучение</th>
                                <th>Статус</th>
                                <th>Изпит</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var courseProgress in Model.ProgressViewModels)
                            {
                                <tr>
                                    <td>
                                        <a href="@courseProgress.CourseUrl">@courseProgress.CourseName</a>
                                    </td>
                                    <td>
                                        @if (courseProgress.CourseProgress.SubscriptionStatus == SubscriptionStatus.Active)
                                        {
                                            <span>Преминали сте @courseProgress.CourseProgress.VisitedLecturesCount от @courseProgress.CourseProgress.TotalLecturesCount лекции</span>
                                        }
                                        else if (courseProgress.CourseProgress.SubscriptionStatus == SubscriptionStatus.AwaitingPayment)
                                        {
                                            <span>Очаква се плащане за този курс <a href="@courseProgress.AwaitingPaymentUrl">детайли</a></span>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var assessmentEligibilityStatus = courseProgress.CourseProgress.AssessmentEligibilityStatus;
                                        }
                                        @if (assessmentEligibilityStatus == AssessmentEligibilityStatus.AlreadyCompleted)
                                        {
                                            <span>Изпитът е успешно положен</span>
                                        }
                                        else if (assessmentEligibilityStatus == AssessmentEligibilityStatus.Lockout)
                                        {
                                            <span>Ще може отново да направите изпита на: @(courseProgress.CourseProgress.LockoutLift?.ToString("dd MMMM yyyy - HH:mm"))</span>
                                        }
                                        else if (assessmentEligibilityStatus == AssessmentEligibilityStatus.Eligible)
                                        {
                                            <span>Направете изпита <a href="@courseProgress.AssessmentUrl" title="изпит">сега</a></span>
                                        }
                                        else
                                        {
                                            <span>Преминете всички лекции преди да отключите изпита</span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert  alert-icon alert-warning">
                            <i class="fa fa-warning"></i> Нямате записани обучения. Моля, разгледайте <a href="/courses" class="alert-link">нашите предложения</a>.
                        </div>
                    }
                </div>
            </div>
                @*<div class="col-md-12">
            <div class="pv-20 ph-20 feature-box-2 boxed light-gray-bg">
                <h4>Моите серификати</h4>
                @if (userHasCertificate)
                {
                    <ol>
                        @foreach (var certificate in certificates)
                        {
                            <li>@certificate.CourseName</li>
                        }
                    </ol>
                }
                else
                {
                    <div class="alert  alert-icon alert-warning"><i class="fa fa-warning"></i> Нямате взет сертификат. За да получите сертификат трябва да прочетете всички лекции на дадено обучение, и след това да преминете успешно изпита му!</div>
                }
            </div>
        </div>*@
        </div>
    </div>
</section>
<script type="text/javascript">
    function initalizeUnobtrusiveValidation(formSelector) {
        $.validator.unobtrusive.parse(formSelector);
    }
</script>