@using AcademyPlatform.Models.Courses
@inherits UmbracoViewPage<IList<AcademyPlatform.Web.Models.Courses.CoursesListViewModel>>
<div class="filters">
    <ul class="nav nav-pills">
        <li class="active"><a href="#" data-filter="*">Всички</a></li>
        @foreach (var category in (IEnumerable<Category>)ViewBag.Categories)
        {
            <li><a href="#" data-filter="[data-category=@category.Id]">@category.Title</a></li>
        }
    </ul>
</div>
<!--Isotope filters END-->
<div class="isotope-container-fitrows grid-space-10">
    @foreach (var course in Model)
    {
        <div data-category="@(course.Category.Id)" class="isotope-item col-md-4 col-sm-6 col-xs-12 course-box">
            <div class="pv-30 ph-20 feature-box courses text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <div class="course-bg">
                    <img src="@Url.Content(course.ImageUrl)" class="course-img" style="height: 325px" alt="@course.Title">
                    <div class="course-owner">
                        <a href="#">
                            @*TODO Replace with asset image or dynamic link*@
                            <img src="/media/1111/owner-logo-3.png" class="course-owner-logo" alt="" rel="2327" data-id="2327"/>
                        </a>
                    </div>
                    <div class="ph-30 clearfix">
                        <h3 class="course-title">@course.Title</h3>
                        <p class="course-category">Платено обучение</p>
                        <p>
                            @Html.Raw(course.ShortDescription)<a href="@course.CourseUrl"> виж повече</a>
                        </p>
                        <p class="course-start-date">Начална дата: 2016</p>
                        <p class="pb-20">
                            <a href="@course.CourseUrl" class="btn-orange btn-lg">Записване</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

