@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right login-partial-form" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName()</a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Настройки на Акаунта", "Index", "Manage", routeValues: new { Area = string.Empty }, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>
                        @Html.ActionLink("Моите Курсове", "ComingSoon", "Home", routeValues: new { Area = string.Empty }, htmlAttributes: null)
                    </li>
                    <li>
                        @Html.ActionLink("Изпити", "ComingSoon", "Home", routeValues: new { Area = string.Empty }, htmlAttributes: null)
                    </li>
                    <li>
                        @Html.ActionLink("Форум", "ComingSoon", "Home", routeValues: new { Area = string.Empty }, htmlAttributes: null)
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>
                </ul>
            </li>           
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}