@using ClientDependency.Core.Mvc
@using reCAPTCHA.MVC
@model AcademyPlatform.Web.Models.Account.RegisterViewModel

@{
    Layout = "~/Views/Site.cshtml";
    Html.RequiresJs("~/Scripts/jquery.validate.min.js", 10);
    Html.RequiresJs("~/Scripts/jquery.validate.unobtrusive.min.js", 10);
}
@section head{
    <title>Регистрация - Фокус Академия</title>
}
<div class="main-container dark-translucent-bg" style="background-image:url('/media/1035/stars.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                @Html.ValidationMessageFor(m => m.Email)
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                                @Html.ValidationMessageFor(m => m.LastName)
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                @Html.ValidationMessageFor(m => m.Password)
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reCaptcha" class="col-md-2 control-label ">
                                    Рекаптча
                                </label>
                                @Html.ValidationMessage("ReCaptcha")
                                <div class="col-md-10" id="reCaptcha">
                                    @Html.Recaptcha()
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Регистрация" />
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>