@model AcademyPlatform.Web.Umbraco.ViewModels.ValidateAccountViewModel
@{
    Layout = "~/Views/Site.cshtml";
}
@section head
{
    <title>Валидация на потребител - Фокус Академия</title>
}
<div class="main-container dark-translucent-bg" style="background-image:url('/media/1035/stars.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                    <form class="form-horizontal">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.HiddenFor(x => x.Email)

                                        <div>Email: @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ValidationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ValidationCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ValidationCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                        <div class="space-top">
                                            <a href="@Url.RouteUrl("ResendValidationEmail", new { Model.Email })">Повторно изпращане на валидационен email</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
