@inherits UmbracoViewPage<AcademyPlatform.Web.Models.Courses.CourseDetailsViewModel>

<section class="main-container padding-ver-clear">
    <div class="container pv-40">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8">
                <h1 class="title">@Model.Title</h1>
                <div class="separator"></div>
                <div class="row">
                    <a class="btn btn-default" href="@Model.CoursesPageUrl">Обрато към курсовете</a>
                    <img src="@Model.ImageUrl" alt="@Model.Title" />
                    @Html.Raw(Model.DetailedDescription)
                </div>
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Project Info</h3>
                        <div class="separator-2"></div>
                        <ul class="list margin-clear">
                            <li><strong>Продължителност: </strong> <span class="text-left"> 50 учебни часа</span></li>
                            <li><strong>Зала: </strong> <span class="text-left"> зала едно на НДК</span></li>
                            <li><strong>Лектор: </strong> <span class="text-left">@Model.LecturerName </span></li>
                            <li><strong>Категория: </strong> <span class="text-left">@Model.Category.Title </span></li>
                        </ul>
                        @if (ViewBag.StudentPageUrl!= null)
                        {
                            <a href="@ViewBag.StudentPageUrl" class="btn btn-danger btn-lg"> Към курса </a>
                        }
                        else
                        {
                            <a href="@Model.JoinCourseUrl" class="btn btn-danger btn-lg"> Запиши се </a>
                        }
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>
