@model AcademyPlatform.Web.Models.Account.LoginViewModel
@*TODO: replace picture with website asset!*@
<section id="fatarget" class="section pt-70 clearfix">
    <div class="container">
        <div class="row form-block center-block p-30 light-gray-bg border-clear">
            <div class="pv-10 ph-20 target object-visible">
                <h1> Вход във Focus Academy </h1>
                <div class="col-md-12">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Вход" class="btn btn-default pull-left" />

                                        @*<span class="text-center text-muted">Влез с</span>
                                            <ul class="social-links colored circle clearfix">
                                                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li class="googleplus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>*@
                                    </div>
                                </div>
                                <div class="col-md-offset-2">
                                    <p class="text-left">
                                        <a href="@Url.RouteUrl("ForgotPassword")">Забравена парола?</a>
                                    </p>
                                    <p class="text-left">
                                        Все още нямате акаунт? <a href="@Url.RouteUrl("Register")">Регистрирайте се сега.</a>
                                    </p>
                                </div>
                    }
                </div>

            </div>

        </div>
    </div>
</section>