@using ClientDependency.Core.Mvc
@inherits UmbracoViewPage<dynamic>
@{
    Layout = null;

    Html.RequiresCss("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
    Html.RequiresCss("~/Content/project-theme.css");
    Html.RequiresCss("~/Content/animate.css");
    Html.RequiresCss("~/Content/animations.css");
    Html.RequiresCss("~/Content/site.css");
    Html.RequiresCss("~/Content/project-theme.css");
    Html.RequiresCss("~/Content/ProjectThemeSkins/light_blue.css");
    Html.RequiresCss("~/Content/Fonts/font-awesome.css");
    Html.RequiresCss("~/Content/hover.css");
    Html.RequiresCss("~/Content/rs-slider.css");
    Html.RequiresCss("~/Content/jasny-bootstrap.css");
    Html.RequiresCss("~/Content/animate.css");

    Html.RequiresJs("https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", 0);
    Html.RequiresJs("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js");

    Html.RequiresJs("~/Scripts/jquery.validate.min.js");
    Html.RequiresJs("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("~/Scripts/respond.js");
    Html.RequiresJs("~/Scripts/Plugins/SmoothScroll.js");
    Html.RequiresJs("~/Scripts/Plugins/jquery.themepunch.revolution.js");
    Html.RequiresJs("~/Scripts/Plugins/jquery.themepunch.tools.min.js");
    Html.RequiresJs("~/Scripts/Plugins/jquery.waypoints.js");
    Html.RequiresJs("~/Scripts/Plugins/jquery.browser.js");
    Html.RequiresJs("~/Scripts/template.js");
    Html.RequiresJs("~/Scripts/custom.js");
    Html.RequiresJs("~/Scripts/Plugins/isotope.pkgd.js");
    Html.RequiresJs("~/Scripts/Plugins/isotope.pkgd.min.js");
    Html.RequiresJs("~/Scripts/Plugins/jquery.vide.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.png")">
    @Html.RenderCssHere()
    @RenderSection("head", false)
</head>
<body>
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>
    <div class="header-container">
    </div>
    @RenderSection("PreContent", required: false)
    <div class="page-wrapper">
        <div class="container-fulid">
            <!-- left navigation start -->
            <div class="left-navigation">
                <div class="block clearfix">
                    <div id="account-logo" class="logo">
                        <a href="/">
                            <img id="logo_img" src="" alt="Академия Фокус">
                        </a>
                    </div>
                    <div class="account-sidebar-user clearfix">
                        <div class="account-sidebar-user-avatar">
                            <a href="#">
                                <img src="@Url.Content("~/images/Valq.png")" alt="avatar">
                            </a>
                        </div>
                        <div class="account-sidebar-user-name">Валя Йорданова</div>
                        <div class="account-sidebar-user-links">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Профил"><i class="fa fa-user"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Моите курсове"><i class="fa fa-graduation-cap"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Съобщения"><i class="icon-mail"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Logout"><i class="icon-logout"></i></a>
                        </div>
                    </div>
                    <nav>
                        <ul class="account-nav">
                            <li><a href="#"><i class="fa fa-home"></i>Към сайта</a></li>
                            <li><a href="#"><i class="fa fa-certificate"></i>Сертификати</a></li>
                            <li><a href="#"><i class="fa fa-folder-open"></i>Материали</a></li>
                            <li class="active"><a href="#"><i class="fa fa-graduation-cap"></i>Курсове</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- left navigation end -->
            <div class="account-main">

                @Html.Partial("StudentSection/_Header")
                @RenderBody()
            </div>
            @Html.Raw(Umbraco.AssignedContentItem.AncestorOrSelf("Site").GetPropertyValue<string>("footer"))

        </div>
    </div>
    @Html.RenderJsHere()
    @RenderSection("scripts", required: false)

</body>
</html>